<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
	  <span>链接:</span>
	  <a href="<%= config.git_index %>" target="_blank">Git主页</a>
	  <br>
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> |
	  <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
	  <br>
	  备案号：<a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank">陕ICP备20006455号</a>
    </div>
  </div>
</footer>